{% extends "layout.html" %} 
{% block content %}
<script type="text/javascript">
    function teampaid() 
        {
            var teamname = document.getElementById("teamname").value;
            var repass = document.getElementById("repassphrase").value;
            console.log(teamname);
            console.log(repass);
            
            var data = {
                teamname: teamname,
                repass: repass
            }
            
            $.ajax({
                url: "./confirmteampayment",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if(response.success == 'true')
                    {
                        Materialize.toast('<p class = "flow-text green-text">' + response.message + '</p>', 2000)  
                        setTimeout(function() {window.location.reload()}, 3000);
                    }
                    else
                    {
                        Materialize.toast('<p class = "flow-text red-text">' + response.message + '</p>', 2000)
                    }
                },
                error: function (error) {
                    Materialize.toast('<p class = "flow-text red-text">' + error + '</p>', 2000)
                }
            })
        }
    function enterphrase() {
        var data = {
            passphrase: document.getElementById("passphrase").value
        } 
        
        $.ajax({
            url: "./checkpass",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (response) {
                if(response.correct == 'true')
                {
                    Materialize.toast('<p class = "flow-text green-text">Logged in successfully</p>', 2000)
                    document.getElementById('state').innerHTML = '<div class = "card"><div class = "card-content"><div class = "input-field"><label for = "teamname">Team name</label><input type = "text" name = "teamname" id = "teamname" placeholder = "Team name"></div><div class = "input-field"><label for = "repassphrase">Reenter pass phrase</label><input type = "text" name = "repassphrase" id = "repassphrase" placeholder = "Reenter pass phrase"></div><a onclick = "teampaid()" class = "btn red waves-effect hoverable">Confirm</a></div></div>'
                }
                else
                {
                    Materialize.toast('<p class = "flow-text red-text">Error, invalid passphrase</p>', 3000)
                }
            },
            error: function (error) {
                Materialize.toast('<p class = "flow-text red-text">' + error + '</p>', 3000)
            }
        });
    }
</script>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div id="state">
                <div class="card">
                    <div class="card-title center-align">Confirm payment login</div>
                    <div class="card-content">
                        <div class="input-field">
                            <label for="passphrase">Enter passphrase: </label>
                            <input type="text" name="passphrase" id="passphrase">
                        </div>
                        <a onclick = "enterphrase();" class="btn waves-effect teal">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
