{% extends "layout.html" %} {% block content %}
<script type="text/javascript">
    function passphrase() {
        if(document.getElementById("game").value.length == 0)
        {
            Materialize.toast('<p class = "flow-text red-text">Error, no sport/game chosen</p>', 2000)
        }
        else
        {
            var data = {
                passphrase: document.getElementById("passphrase").value,
            }

            $.ajax({
                url: "./getteamsafterauth/" + document.getElementById("game").value,
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function(response) {
                    if (response.success == 'true') {
                        Materialize.toast('<p class = "flow-text green-text">Logged in successfully</p>', 2000)
                        var tabledata = "";
                        if(document.getElementById("game").value == "football")
                        {
                            console.log(response.teams);
                            for(var i = 0; i < response.teams.length; i++)
                            {
                                var haspaidstr = "";
                                if(response.teams[i].HasPaid == 1)
                                {
                                    haspaidstr = "Yes";
                                }
                                else
                                {
                                    haspaidstr = "No";
                                }
                                tabledata += "<tr><td>" + response.teams[i].RegistrationPerson + "</td><td>" + response.teams[i].TeamName + "</td><td>" + response.teams[i].NoOfMembers + "</td><td>" + response.teams[i].MemberNames + "</td><td>" + response.teams[i].PaymentMode + "</td><td>" + response.teams[i].MobileNo + "</td><td>" + response.teams[i].AlternateNo + "</td><td>" + response.teams[i].Email + "</td><td>" + haspaidstr + "</td></tr>"	
                            }
                            document.getElementById("status").innerHTML = '<div class = "card"><div class = "card-content"><table class = "striped bordered responsive-table"><thead><tr><td><b>Registration Person</b></td><td><b>Team Name</b></td><td><b>No. of members</b></td><td><b>Member Names</b></td><td><b>Payment Mode</b></td><td><b>Mobile no.</b></td><td><b>Alternate no.</b></td><td><b>Email</b></td><td><b>Has Completed Payment</b></td></tr></thead><tbody>' + tabledata + '</tbody><table></div></div>';

                        }
                        else if(document.getElementById("game").value == "chess")
                        {
                            console.log(response.data);
                            for(var i = 0; i < response.data.length; i++)
                            {
                                var hasukcastr = "", haspaidstr = "";
                                if(response.data[i].HasUKCA == 1)
                                    hasukcastr = "Yes";
                                else
                                    hasukcastr = "No";
                                if(response.data[i].HasPaid == 1)
                                    haspaidstr = "Yes";
                                else
                                    haspaidstr = "No";
                                tabledata += "<tr><td>" + response.data[i].Name + "</td><td>" + response.data[i].Age + "</td><td>" + response.data[i].MobileNo + "</td><td>" + response.data[i].Email + "</td><td>" + response.data[i].Category + "</td><td>" + response.data[i].PaymentMode + "</td><td>" + hasukcastr + "</td><td>" + haspaidstr + "</td></tr>";
                            }
                            document.getElementById("status").innerHTML = '<div class="card"> <div class="card-content"> <table class="striped bordered responsive-table"> <thead> <tr> <td> <b>Name</b> </td> <td> <b>Age</b> </td> <td> <b>Mobile no.</b> </td> <td> <b>Email</b> </td> <td> <b>Category</b> </td> <td> <b>Payment Mode</b> </td> <td> <b>Has UKCA ID</b> </td> <td> <b>Has completed payment</b></td> </tr> </thead> <tbody>' + tabledata + '</tbody><table></div></div>';                        }
                    }
                    else {
                        Materialize.toast('<p class = "flow-text red-text">Error, invalid passphrase</p>', 2000)
                    }
                },
                error: function(error) {
                    Materialize.toast('<p class = "flow-text red-text">' + error + '</p>', 2000)
                }
            })   
        }
    }
</script>
<div class = "row"></div>
<div class = "row"></div>
<div class="row">
    <div class="col s12">
        <div id="status">
            <div class="card">
                <div class="card-content">
                    <div class="input-field">
                        <label for="passphrase">Enter passphrase</label>
                        <input type="password" name="passphrase" id="passphrase" placeholder="Enter passphrase">

                        <select id = "game">
                            <option value="" selected>Choose the sport/game</option> 
                            <option value="football">Football</option> 
                            <option value="basketball">Basketball</option> 
                            <option value="chess">Chess</option> 
                        </select> 

                        <a class="btn blue waves-effect" onclick="passphrase();">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
