{% extends "layout.html" %} {% block content %}
<script type="text/javascript">
    function passphrase() {
        var data = {
            passphrase: document.getElementById("passphrase").value
        }

        $.ajax({
            url: "./getteamsafterauth",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function(response) {
                if (response.success == 'true') {
                    Materialize.toast('<p class = "flow-text green-text">Logged in successfully</p>', 2000)
                    var tabledata = "";
                    console.log(response.teams);
                    for(var i = 0; i < response.teams.length; i++)
                    {
	                    tabledata += "<tr><td>" + response.teams[i].RegistrationPerson + "</td><td>" + response.teams[i].TeamName + "</td><td>" + response.teams[i].NoOfMembers + "</td><td>" + response.teams[i].MemberNames + "</td><td>" + response.teams[i].PaymentMode + "</td><td>" + response.teams[i].MobileNo + "</td><td>" + response.teams[i].AlternateNo + "</td><td>" + response.teams[i].Email + "</td></tr>"	
                    }
                    document.getElementById("status").innerHTML = '<div class = "card"><div class = "card-content"><table class = "striped bordered responsive-table"><thead><tr><td><b>Registration Person</b></td><td><b>Team Name</b></td><td><b>No. of members</b></td><td><b>Member Names</b></td><td><b>Payment Mode</b></td><td><b>Mobile no.</b></td><td><b>Alternate no.</b></td><td><b>Email</b></td></tr></thead><tbody>' + tabledata + '</tbody><table></div></div>';
                }
                else {
                    Materialize.toast('<p class = "flow-text red-text">Error, invalid passphrase</p>', 2000)
                }
            },
            error: function(error) {
                Materialize.toast('<p class = "flow-text red-text">' + error + '</p>', 2000)
            }
        })
    }
</script>
<div class = "row"></div>
<div class = "row"></div>
<div class="row">
    <div class="col s12">
        <div id="status">
            <div class="card">
                <div class="card-content">
                    <div class="input-field">
                        <label for="passphrase">Enter passphrase</label>
                        <input type="text" name="passphrase" id="passphrase" placeholder="Enter passphrase">

                        <a class="btn blue waves-effect" onclick="passphrase();">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
