{% extends "layout.html" %} {% block content %}
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="{{ url_for('static', filename='images/turfpark.jpg') }}"></div>
</div>
<section id="introduction">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="black-text">Introduction</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>What it is</div>
          <div class="card-content">Well, it's a football tournament! Hosted by students, our aim is to create a fun,
          and enjoyable experience for all! Gear up for hours of footballing fun, with 5-a-side matches in a division setting to ensure
          everyone gets to play to their hearts' content!May the odds be ever in your favor! </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>Sports</div>
          <div class="card-content">Football Your team can consist of upto 9 players, with 5-a-side teams played on a turf. Each match will be about 20 minutes long, and the more you win, the more you play!
          Like division football (i.e like the EPL), there will be a group category, then quarterfinals, semifinals and finals! </div>
      </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>Prizes</div>
          <div class="card-content"> Exciting cash prizes and vouchers for the winners and runners ups! </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
