{% extends "layout.html" %} {% block content %}
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="{{ url_for('static', filename='images/turfpark.jpg') }}"></div>
</div>
<section id="introduction">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h2 class="black-text">Introduction</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>What is it</div>
          <div class="card-content">Lorem ipsum dolor sit a augue eget pharetra. Integer sit amet viverra nibh. Maecenas nisi magna, placerat in mollis vitae, viverra id velit. Vivamus dictum mi eu lectus fringilla, vel vulputate dui interdum. Phasellus felis metus, ultrices ac
            neque eu, commodo rutrum est. Praesent ac molestie libero. Donec ac sem eget est volutpat consectetur. Etiam laoreet dolor vitae lorem porta, sed tincidunt orci accumsan. Aliquam feugiat a enim quis semper. Duis bibendum, arcu quis scelerisque
            luctus, metus libero malesuada dolor, at egestas arcu elit a arcu.</div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>Sports</div>
          <div class="card-content">Lorem ipsum dolor sit a augue eget pharetra. Integer sit amet viverra nibh. Maecenas nisi magna, placerat in mollis vitae, viverra id velit. Vivamus dictum mi eu lectus fringilla, vel vulputate dui interdum. Phasellus felis metus, ultrices ac
            neque eu, commodo rutrum est. Praesent ac molestie libero. Donec ac sem eget est volutpat consectetur. Etiam laoreet dolor vitae lorem porta, sed tincidunt orci accumsan. Aliquam feugiat a enim quis semper. Duis bibendum, arcu quis scelerisque
            luctus, metus libero malesuada dolor, at egestas arcu elit a arcu.</div>
        </div>
      </div>
      <div class="col s4">
        <div class="card">
          <div class='card-title center-align'>Prizes</div>
          <div class="card-content">Lorem ipsum dolor sit a augue eget pharetra. Integer sit amet viverra nibh. Maecenas nisi magna, placerat in mollis vitae, viverra id velit. Vivamus dictum mi eu lectus fringilla, vel vulputate dui interdum. Phasellus felis metus, ultrices ac
            neque eu, commodo rutrum est. Praesent ac molestie libero. Donec ac sem eget est volutpat consectetur. Etiam laoreet dolor vitae lorem porta, sed tincidunt orci accumsan. Aliquam feugiat a enim quis semper. Duis bibendum, arcu quis scelerisque
            luctus, metus libero malesuada dolor, at egestas arcu elit a arcu.</div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
