<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

{% block bodytag %}

<body>{% endblock %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <nav>
        <div class="nav-wrapper white">
            <a href="#" class="brand-logo left-align black-text"><img width = "65px" height = "65px" src = "{{ url_for('static', filename='images/logo.png') }}"></a>
            <ul class="right">
                <li><a href="/#introduction" class="btn-flat">Introduction</a></li>
                <li><a href="/#faq" class="btn-flat">FAQ</a></li>
                <li><a href="/termsandconditions" class="btn-flat">Terms and Conditions</a></li>
                <li><a href="/registration" class="btn-flat">Register</a></li>
            </ul>
        </div>
    </nav>`

    {% block content %}{% endblock %}

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact us</h5>
                    <p class="grey-text text-lighten-4">
                        Email us at <a href = "mailto:ball.of.duty.bangalore@gmail.com">ball.of.duty.bangalore@gmail.com</a>
                        <br>
                        Call us at +919036492611
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Social media</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/ball.duty.9">Facebook</a></li>
                        <li><a href="https://www.instagram.com/ball.of.duty.bangalore/">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Ball of Duty
                <span class="grey-text text-lighten-4 right" href="#!"><> by <a href = "https://github.com/BK-Modding">BK-Modding</a></span>
            </div>
        </div>
    </footer>
</body>

</html>
