{% extends "layout.html" %}

{% block bodytag %}<body class = "grey lighten-2">{% endblock %}

{% block content %}
    <div class = "container">
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row"></div>
        <div class = "row">
            <div class = "col s12">
                <div class = "card">
                    <div class = "card-title center-align flow-text">Terms and Conditions</div>
                    <div class = "card-content">
                        <ol>
                            <li>No foul language, threatening, or fighting.</li>
                            <li>If you do not come on the day(s) of the tournament, we will only refund 50% of the fees that you paid.</li>
                            <li>The maximum numbers of subs you can have is 4, but only 5 players from the same team can be on the court at the same time, as it is teams of 5. Beware!! If you bring only 5 members,we will not be able to provide substitutes. </li>
                            <li>You don't have to bring your own equipment, though we would suggest some light snacks if you want.</li>
                            <li>The referees' words are absolute. You'll be sent off if you protest the call too much.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}